<h1>www.pipcultural.org</h1>
<p>staticwebsite</p>
<h2>Navbar<h2>

--------------
<ul>
<li>Inicio (Contenido estatico)</li>
<li>Quienes somos (Drop down proposito menu new page)</li>
<li>Proyectos(Cards con a tag a otras paginas... logos en el email)</li>
<li>Aliados (Logos con a tags a la paginas)</li>
<li>Contenido Imagenes facebook</li>
</ul>
